:root{
    --background-light: #D1D1D1;
    --background-interes-light: #a89998;;
    --text-block-light: #181818;
    --text-title-light: #e9e9e9;

    --background-dark: #121212;
    --background-interes-dark: #897a79;
    --text-block-dark: #efefef;
    --text-inter-dark: #000;
    

@media(prefers-color-scheme: light) {
    --background: var(--background-light);
    --background-interes: var(--background-interes-light);
    --text-block: var(--text-block-light);
    --text-title: var(--text-title-light);
  }
  
  @media(prefers-color-scheme: dark) {
    --background: var(--background-dark);
    --background-interes: var(--background-interes-dark);
    --text-block: var(--text-block-dark);
    --text-title: var(--text-title-light);
    --text-inter: var(--text-inter-dark);
 }
}

html, body, h1,h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    @media (max-width: 1100px){
        .hero-section{
            height: 50vh;
        }
        .container{
            h2{
                padding-top: 5vh;
            }
        }
        .desc-section {
            padding-bottom: 5vh;
        }
        .features-section{
            padding-bottom: 5vh;
            .interest-item{
                p{
                    padding: 0 10px;
                }
            }
        }
    }
    @media (max-width: 900px){
        .container {
            padding: 0 60px;
        }
        h2{
            padding-top: 20px;
        }
    }
}


.container{
    padding: 0 100px;
    h2{
        font-style: italic;
        font-size: 40px;
        padding-top: 10vh;
        text-align: center;
        padding-bottom: 30px;
        color: var(--text-block);
    }
}

.hero-section{
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1)),url('https://i.ibb.co/56YvRzm/backgr.jpg');
    /*background-image: url('https://i.ibb.co/56YvRzm/backgr.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    box-shadow: inset 0 0 200px 10px rgba(0,0,0,0.8);
    .menu{
        display: flex;
        justify-content: center;
        .menu-item{
            text-decoration: none; 
            padding: 20px 40px;
            font-size: 18px;
            color: var(--text-title);
            transition: 0.5s;
            @media (max-width: 700px){
                padding: 20px 20px;
            }
            @media (max-width: 500px){
                padding: 20px 10px;
                font-size: 15px;
            } 
        }
        .menu-item:hover{
            opacity: 0.6;
        }

    }
    .description{
        h1,p{
            color: var(--text-title);
            text-align: center;
            margin: 0;
            text-shadow: #000 0 0 10px;
            
        }
        h1{
            font-style: italic;
            font-size: 75px;
            padding-top: 14vh; 
            padding-bottom: 5px;
            @media (max-width: 700px){
                font-size: 60px;
            }   
            @media (max-width: 500px){
                font-size: 50px;
            }        
        }
        p{
            font-size: 18px;
            @media (max-width: 700px){
                font-size: 16px;
            } 
            @media (max-width: 500px){
                font-size: 14px;
            } 
        }
    }
}

.desc-section{
    background-color: var(--background);
    padding-bottom: 10vh;
    .wrap{
        display: grid;
        grid-template-columns: 1fr 2fr;
        place-items: center;
        gap: 30px;
        img{
            object-fit: cover;
            border-radius: 50%;
            height: 350px;
        }
        .desc-text{
            text-align: justify;
            line-height: 1.5;
            color:  var(--text-block);
        }

        @media (max-width: 900px){
            display: block;
            text-align: center;
            .desc-text{
                padding: 0 0;
                text-align: justify;
            }
            img{
                height: 300px;
            }
        }
        @media (max-width: 500px){
            img{
                height: 250px;
            }
        }
    }
}

.features-section{
    background-color:  var(--background-interes);
    padding-bottom: 10vh;
    h2{
        color: var(--text-inter);
    }
    .interests{
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        @media (max-width: 900px){
            display: block;
            padding-bottom: 20px;
        }
        .interest-item{
            text-align: center;
            img{
                object-fit: cover;
                height: 120px;
            }
            p{
                @media (max-width: 1350px){
                    padding: 0 0;
                }
                @media (max-width: 900px){
                    padding: 0 50px;
                    padding-bottom: 50px;
                }
                @media (max-width: 500px){
                    padding: 0 20px;
                    padding-bottom: 50px;
                }
                padding: 0 60px;
                max-width: 60ch;
                color:  var(--text-inter);
                font-size: 18px;
            }
        }
    }
}

.rights-section {
    background-color: #090909;
    padding: 25px 0;
    color: var(--text-title);
    text-align: center;
}

